        body{
            background-color: black;
            font-family: sans-serif;
        }
        .botbox{
            width:400px;
            height:620px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 450px;
            background-color: white;
            border-radius: 15px;
            position:relative;
            
        }
        .intro{
            height:270px;
            background-color:#ff7518;
            border-radius: 10px 10px 0 0;
            color:white;
            font-size: 18px;
        }
        #intro_text{
              padding-top: 10px;
              margin-left: 50px;
        }
        .text_area{
            width:380px;
            height: 380px;
            margin-left: 10px;
            position:absolute;
            background-color: white;
            border-radius: 10px;
            margin-top: 35px;
            border:0.5px solid lightgray;
            color:black;
        }
        .faq{
            margin-top: 50px;
            margin-left: 20px;
            font-size: 13px;
            font-weight: 600;
        }
        button{
            margin-top: 10px;
            background-color: white;
            width:330px;
            border-radius: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            border:0.5px solid lightgray;
            font-size: 12px;
            text-align: left;
        }
        #strt_chat{
            margin-top: 20px;
            border-radius: 25px;
            text-align: center;
            width:260px;
            margin-left: 30px;
            font-weight: 600;
            font-size: 14px;
        }
        .circle{
            position:absolute;
            z-index: 5;
            width:70px;
            height: 70px;
            background-color: #ff7518;
            border-radius: 35px;
            margin-left: 20px;
            border:0.5px solid lightgray;
        }
        svg{
            width:25px;
            height:25px;
        }
        #Capa_1{
             width:15px;
             height:15px;
        }
        .feather-circle{
            width:10px;
            height:10px;
            background-color:#ff7518 ;
        }
        #Layer_2{
            transform: translate(16px,16px);
            height:40px;
            width:40px;
        
        }
        #msg_icon{
            height:15px;
            width:15px;
        }
